<!-- Here is Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

<footer class="text-center text-black fixed-bottom" style="background-color: #1F1542;">
 
  <!-- Here Copyright -->
  <div class="text-center p-3" style="color:#fff">
    © 2021 Copyright: Muhammad Tariq
  </div>
  <!-- Copyright -->
</footer>