* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  .hero-head{
    margin-top: 8px;
    font-size: 22px;
    background: linear-gradient( 
0.25turn
 , #3f87a6, #ebf8e1, #f69d3c);
    padding: 70px 0px;
    font-size: 14px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .font{
    font-size: 14px;
    font-weight: unset;
  }

  .font-signup {
    font-size: 14px;
    font-weight: unset;
  }

  a:hover {
    color: #3486eb;
  }
  
  button {
    border: 0;
    padding: 1%;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .card-bg {
    background-color:#d9edf7;
  }


  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
    text-align: center;
  }
  
  form label {
    display: block;
    text-align: center;
  }

  .login-form{
    background-color: lightskyblue;
    display: block;
    margin: 0 auto;
    border: 1px dotted black;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 1%;
    text-align: center;
  }
  
  main {
    flex: 1;
    padding: 1% 0%;
    text-align: center;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #d9edf7;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 5%;
    font-size: 110%;
  }

  .card {
      margin-bottom: 1em;
      margin-top: 1em;
  }

  .rows{
      display:flex;
      flex-direction: column;
  }

  .center{
    text-align: center;
    margin: 30px 0px;
  }

  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    float: right;
    margin-top: -89px;
}

#email-login{
    min-width: 30%;
    display: block;
    margin: 0 auto;
}

#password-login{
    min-width: 30%;
    display: block;
    margin: 0 auto;

}


  @media screen and (max-width: 500px){
  .card-content {
    background-color: transparent;
    margin: 20px 0px;
    padding-left: 10px;
    padding-right: 10px;
    
}
  }

  @media screen and (max-width: 1249px) and (min-width: 501px){
    .card-content .content {
      background-color: transparent;
      padding: 40px 40px;
      margin-bottom: 10px;
  }
    
  }  
  

  